body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 h4, p {
    text-shadow: 0px 0px 1px black; 
}

h2, h4{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0 auto;
    background: url('https://thumbs.dreamstime.com/b/red-gift-background-gold-ribbon-27996712.jpg');
    background-size: cover;
    cursor: pointer;
}

.gift-img_1:hover{
    background: url('https://media.giphy.com/media/dVoarHJiQcanEfIawt/giphy.gif');
    background-size: contain;
}

.gift-img_2:hover{
    background: url('https://media.giphy.com/media/MdqE46HziuFJTlIwjw/giphy.gif');
    background-size: contain;
}

.gift-img_3:hover{
    background: url('https://media.giphy.com/media/DhstvI3zZ598Nb1rFf/giphy-downsized-large.gif');
    background-size: cover;
    background-position: center;
}

.gift-img_4:hover{
    background: url('https://media.giphy.com/media/CAxbo8KC2A0y4/giphy.gif');
    background-size: cover;
    background-position: center;
}

.gift-img_5:hover{
    background: url('https://media.giphy.com/media/JltOMwYmi0VrO/giphy.gif');
    background-size: cover;
    background-position: center;
}